{% extends 'base/index1.html' %}
{% load staticfiles %}
{% block title %}
Título de la página
{% endblock title %}
{% block content %}
	<div class="bg"></div>

	<!-- modal -->
	<div class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="cambios">
		<h2>Cambios realizados</h2>
		<p>Puedes visualizarlos en el sistema</p>
		<img src="{% static 'img/check.png' %}" class="check">
	</div>

	<div class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="eleHorario">
		<p>¿Desea eliminar el horario seleccionado?</p>
		<div class="flex botonera">
			<input class="cancelar" type="submit" onclick="borrarHorarioSC()" value="Cancelar">
			<input class="guardar" type="submit" onclick="borrarHorarioS()" value="Eliminar">
		</div>
	</div>

	<div class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="eleHorarioS">
		<h2>Horario eliminado</h2>
		<p>Se ha borrado de la base de datos</p>
		<img src="{% static 'img/trash.png' %}" class="check">
	</div>

	<div class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="notificacion">
		<p>Guadalupe Ortiz Mendoza solicitó una de tus tutorías:</p>
		<p class="b">Programación en Python</p>
		<p class="b">Martes 20 de noviembre</p>
		<p class="b">11:00 AM - 12:00 PM</p>
		<div class="flex botonera">
			<input class="cancelar" type="submit" name="" value="Denegar" onclick="denegarTutoria()">
			<input class="guardar" type="submit" name="" value="Aceptar" onclick="aceptarTuto()">
		</div>
	</div>

	<div class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="tutoCheck">
		<h2>Tutoría agendada</h2>
		<p>Se ha agregado a tus horarios</p>
		<img src="{% static 'img/check.png' %}" class="check">
	</div>

	<!-- fin de modal -->

	<!-- contenido -->

	<div class="wrapper" id="wrapper">
		<!-- side bar -->
				<div class="side-bar" id="sidebar">
			<div class="logo-bar flex">
				<img src="{% static 'img/logo.png' %}">
			</div>

			<ul class="flex-column">
				<li><a href="{% url '' %}"><img src="{% static 'img/us.png' %}">Perfil</a></li>
				<li><a href="{% url '' %}"><img src="{% static 'img/tutorias.png' %}">Mis tutorías</a></li>
				<li><a href="{% url '' %}"><img src="{% static 'img/historial.png' %}">Historial</a></li>
				<li><a href="{% url '' %}"><img src="{% static 'img/qa.png' %}">Preguntas frecuentes</a></li>
			</ul>

			<ul class="flex-column logout">
				<li><a href="{% url '' %}"><img src="{% static 'img/logout.png' %}">Cerrar sesión</a></li>
			</ul>
		</div>

		<div class="content col-xs-12" id="content">
			<h1>Notificaciones</h1>
			<div class="col-xs-12 col-md-12 notificaciones">
				<p class="" id="pendiente"><a href="{% url '' %}">Guadalupe Ortiz Mendoza</a> solicitó la tutoría Paradigmas de la Programación | <a onclick="verNoti()">Ver detalles</a></p>
			</div>
			<div class="top col-xs-12 col-md-12">
				<button type="button" id="sidebarCollapse" class="navbar-btn">
	                <span></span>
	                <span></span>
	                <span></span>
	            </button>
	            <h1 id="top" class="hidden-xs">Tutorías pendientes</h1>
	            <h1 id="top" class="hidden-sm hidden-md hidden-lg">Tutorías <br> pendientes</h1>
	        </div>

	        <div class="col-xs-12 col-md-12 tutorias">
	        	<div class="tutoria flex-column">
	        		<div class="media-dos bd2">
	        			<p class="a">Matemáticas</p>
	        			<p>Cálculo diferencial</p>
	        		</div>
	        		<img src="{% static 'img/perfil.png' %}">
	        		<div class="media-tres flex-column">
	        			<p>María Mendoza López</p>
	        			<p>Lunes 19</p>
	        			<p>1:00 PM - 2:00 PM</p>
	        			<a href="{% url 'sesion-tutoria.htm' %}" href="sesion-tutoria.html">Opciones</a>
	        		</div>
	        	</div>
	        </div>

	        <h1>Horarios</h1>

	        <div class="col-xs-12 col-md-12 horarios">
	        	<div class="col-xs-12 col-md-3 horario">
	        		<img src="{% static 'img/cancel.png' %}" onclick="borrarHorario()"></a>
	        		<h3>Álgebra lineal</h3>
	        		<p>Sesión 5:00 PM - Lunes</p>
	        	</div>
	        </div>

	        <h1>Ofertar horarios</h1>

	        <div class="col-xs-12 col-md-12 ofertar">
	        	<p class="ind col-xs-12">Rellena el siguiente formulario para ofertar un nuevo horario de tutoría</p>

	        	<div class="col-xs-12 col-md-12 datos-basicos noborder">
		        	<div class="col-xs-12 col-md-12">
		        		<b class="">Área de conocimiento </b><span class="col-xs-12 col-md-10"><select class="dato">
		        			<option></option>
		        		</select></span>
		        	</div>
		        	<div class="col-xs-12 col-md-12">
		        		<b>Categoría </b><span class="col-xs-12 col-md-10"><select class="dato">
		        			<option></option>
		        		</select></span>
		        	</div>
		        	<div class="fecha">
			        	<div class="col-xs-12">
			        		<b>Día </b><span class="col-xs-12 col-md-8">
			        			<select class="dato">
			        				<option>01</option>
			        			</select>
			        		</span>
			        	</div>
			        	<div class="col-xs-12">
			        		<b>H. Inicio </b><span class="col-xs-12 col-md-8"><input type="time" min="00:00" max="24:00" step="600" class="dato"></span>
			        	</div>
			        	<div class="col-xs-12">
			        		<b>H. Fin </b><span class="col-xs-12 col-md-8"><input type="time" min="00:00" max="24:00" step="600" class="dato"></span>
			        	</div>
			        </div>
			        <div class="col-xs-12 col-md-12">
		        		<b>Lugar de encuentro </b><span class="col-xs-12 col-md-10"><input type="text" name="" value="" class="dato" placeholder="Escribe aquí el lugar de encuentro"></span>
		        	</div>

		        	<div class="col-xs-12 col-md-12 botones">
		        		<input type="submit" onclick="cambiosHechos()" value="Ofertar horarios" class="col-md-2 guardar">
		        		<input type="submit" onclick="borrarCampos()" value="Borrar" class="col-md-2 cancelar">
		        	</div>
		        </div>

	   
	        </div>

			
		</div>
	</div>


	<script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
            	$('#wrapper').toggleClass('active');
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
{% endblock content %}