{% extends 'tutor/index.html' %}
{% load staticfiles %}
{% load tutor_tags %}

{% block title %}
Título de la página
{% endblock title %}

{% block content %}
	<div class="bg"></div>

	<!-- modal -->
	<form class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="addArea" method="POST" action="{% url 'tutor:add_subarea' user.username %}">
		{% csrf_token %}
		<img src="{% static 'img/cancel.png' %}" class="clo" alt="" onclick="agregarAreaC()">
		<h2>Nueva subárea de conocimiento</h2>
		<p>Selecciona una opción:</p>
		{{ subarea_form.subareas }}
		<input type="submit" name="" value="Agregar" onclick="agregarAreaS()">
	</form>

	<div class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="addAreaCheck">
		<h2>Área de conocimiento agregada</h2>
		<p>Se ha agregado a tu perfil</p>
		<img src="{% static 'img/check.png' %}" class="check">
	</div>

	<div class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="addAreaDel">
		<img src="{% static 'img/cancel.png' %}" class="clo" alt="" onclick="eliminarAreaC()">
		<p>¿Desea eliminar el área de conocimiento?</p>
		<p class="b">Podrá agregarla posteriormente</p>
		<div class="flex botonera">
			<input class="cancelar" type="submit" onclick="eliminarAreaC()" value="Cancelar">
			<input class="guardar" type="submit" onclick="eliminarArea()" value="Eliminar">
		</div>
	</div>

	<div class="col-md-4 col-md-offset-4 col-xs-11 col-sm-5 molde" id="addAreaTrash">
		<h2>Área de conocimiento eliminada</h2>
		<p>Se ha borrado de tu perfil</p>
		<img src="{% static 'img/trash.png' %}" class="check">
	</div>

	<!-- fin de modal -->

	<!-- contenido -->

	<div class="wrapper" id="wrapper">
		<!-- side bar -->
		<div class="side-bar" id="sidebar">
			<div class="logo-bar flex">
				<img src="{% static 'img/logo.png' %}">
			</div>

			<ul class="flex-column">
				<li><a href="{% url 'tutor:tutor' user.username %}"><img src="{% static 'img/us.png' %}">Perfil</a></li>
				<li><a href="{% url 'tutor:tutorias' user.username %}"><img src="{% static 'img/tutorias.png' %}">Mis tutorías</a></li>
				<li><a href=""><img src="{% static 'img/historial.png' %}">Historial</a></li>
				<li><a href=""><img src="{% static 'img/qa.png' %}">Preguntas frecuentes</a></li>
			</ul>

			<ul class="flex-column logout">
				<li><a href="{% url 'users:logout' %}"><img src="{% static 'img/logout.png' %}">Cerrar sesión</a></li>
			</ul>
		</div>

		<div class="content col-xs-12" id="content">
			<div class="top col-xs-12 col-md-12">
				<button type="button" id="sidebarCollapse" class="navbar-btn">
	                <span></span>
	                <span></span>
	                <span></span>
	            </button>
	            <h1 id="top">Perfil</h1>
	        </div>


			<div class="col-xs-12 col-md-12 informacion">
				<div class="foto-perfil flex-column col-xs-12 col-sm-2 col-md-2">
					{% if usuario.foto.url %}<img class="img-responsive" src="{{ usuario.foto.url }}">{% else %}<img class="img-responsive" src="{% static 'img/perfil.png' %}">{% endif %}
					<a href="{% url 'tutor:edit' user.username %}" class=""><img src="{% static 'img/edit-p.png' %}"> Modificar perfil</a>
				</div>
				
				<div class="col-xs-12 col-sm-10 col-md-10 datos">
					<h2>{{ usuario.nombre }}</h2>
					<p><b>Expediente:</b> {{ usuario.expediente }}</p>
					<p><b>Correo electrónico:</b> {{ usuario.correo }}</p>
					<p><b>Carrera:</b> {{ tutor.carrera }}</p>
					<p><b>Semestre:</b> {{ tutor.semestre }}</p>
					<p class="des"><b>Descripción:</b> {% if usuario.descripcion %}{{ usuario.descripcion }}{% else %}Descripción no disponible. Edita tu perfil y agrega una.{% endif %}</p>
				</div>
			</div>

			
			<h1>Área de Conocimiento</h1>

			<div class="col-xs-12 col-md-12 cont-areas">
				<div class="col-xs-11 col-sm-5 col-md-2 flex-column area {{ tutor.area_especialidad|addunderscore }}">
					{% comment %}<a onclick="del()" title="Eliminar área"><img src="{% static 'img/cancel.png' %}"></a>{% endcomment %}
					<p style="color: whitesmoke;">{{ tutor.area_especialidad|capfirst }}</p>
				</div>
			</div>

			<h1>Subáreas de conocimiento</h1>

			<div class="col-xs-12 col-md-12 cont-areas">
				{% for suabarea in mis_subareas %}
				<div class="col-xs-11 col-sm-5 col-md-2 flex-column area prog">
					<a onclick="del()" title="Eliminar área"><img src="{% static 'img/cancel.png' %}"></a>
					<p>{{ suabarea.1 }}</p>
				</div>
				{% empty %}
					<p class="col-xs-11 col-md-18 add-area" style="color: sienna; font-weight: bold;">No tienes subáreas de conocimiento. 🙁</p>
				{%endfor%}

				<div class="col-xs-11 col-md-18 add-area">
					{% if mis_subareas|length > 0 %}
						<p class="">¿Tienes alguna otra subárea de conocimiento que quieras agregar a tu perfil?</p>
					{% else %}
						<p class="">Comienza añadiendo una subárea de conocimiento con el boton de la derecha. 🤓👉</p>
					{% endif %}
					<button class="hidden-xs hidden-sm col-md-3" onclick="addArea()">Agregar subárea de conocimiento</button>
					<button class="hidden-md hidden-lg col-xs-12" onclick="addArea()">Agregar área</button>
				</div>
			</div>

			<h1>Comentarios</h1>

			<div class="col-xs-11 col-md-11 comentarios">
				<p class="nombre">No hay datos para mostrar</p>
			</div>

			<div class="col-xs-11 col-md-11 comentarios">
				<p class="nombre"></p>
				<p class="tipo"></p>
				<p class="mensaje"></p>
			</div>

			<div class="col-xs-12 col-md-12 arriba">
				<a href="#top">Volver arriba</a>
			</div>
		</div>
	</div>


	<script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
            	$('#wrapper').toggleClass('active');
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
                $(this).toggleClass('active');
            });
        });

		function addNewKnowledgeArea(user){
			ajax=new XMLHttpRequest();
			ajax.open("GET",``);
			ajax.send();
			ajax.onreadystatechange=function(){
				if (ajax.status==200 && ajax.readyState==4){
					document.getElementById('addAreaDel').innerHTML=ajax.responseText
					del()
				}
			}
		}
    </script>
{% endblock content %}