{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <html lang="es">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Bienvenido, Doceo
        {% endblock %}
    </title>
    
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
    
  

    {% block extracss %}
    {% endblock extracss %}

</head>
<body>

        <div class="alert alert-warning alert-dismissible pull-right" style="position: absolute; width: 300px; margin-top: 20px; margin-left: 78%; display: none;" id="alerta" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% block content %}
    {% endblock %}
    
    {% comment %} <header>
        {% block header %}
        {% endblock %}
    </header> {% endcomment %}
    
    {% comment %} <footer class="container blockquote-footer">{% block footer %}{% endblock %}</footer> {% endcomment %}

    <script>
        let alerta = document.getElementById('alerta');
        let username = `{{ request.user.username }}`

		var loc = window.location
		var wsStart = "ws://127.0.0.1:8000/ws/users/notifications/{{ request.user.username }}/"
		if (loc.protocol == "https:"){
			wsStart = "wss://"
		}
		var webSocketEndpoint =  wsStart  // ws : wss   // Websocket URL, Same on as mentioned in the routing.py
	
		var socket = new WebSocket(webSocketEndpoint) // Creating a new Web Socket Connection
	
		// Socket On receive message Functionality
		socket.onmessage = function(e){
            let message = String(e.data);
            message = message.slice(1, message.lenght);
            message = message.substring(0, message.length - 2);
            alerta.innerHTML += `<strong>¡Hola ${username}!</strong><br>¿Qué crees? ¡${message}`;
            alerta.style.display = 'initial';
			//$("body").append("<h3>"+e.data+"</h3>")
			// Can write any functionality based on your requirement
		}
	
		// Socket Connet Functionality
		socket.onopen = function(e){
			console.log('open', e)
		}
	
		// Socket Error Functionality
		socket.onerror = function(e){
			console.log('error', e)
		}
	
		// Socket close Functionality
		socket.onclose = function(e){
			console.log('closed', e)
		}

    </script>

</body>

</html>