{% extends 'base/index2.html' %}
{% load staticfiles %}
{% block title %}
Título de la página
{% endblock title %}
{% block content %}
	<div class="container-fluid altura">
		<div class="error flex-column col-xs-12 col-md-12">
			<center class="col-md-12">
				<img src="{% static 'img/warning.png' %}" class="alert">
			</center>
			<center class="col-md-6 mensaje">
				<h3>Espera, futuro tutor</h3>
				<p>Tu solicitud de tutor aún no es verificada, te haremos llegar un correo electrónico en cuanto se tenga respuesta. <br><br><a href="{% url '' %}">Volver a inicio</a></p>
				<img src="{% static 'img/logo.png' %}" class="logo">
			</center>
		</div>
	</div>
{% endblock content %}